<div class="max-w-2xl mx-auto mt-16 bg-white shadow-xl rounded-2xl p-8 border border-gray-200">
  <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Upload File</h2>

<%= render 'form', file_upload: @file_upload %>

<br><%= link_to "Back to list", file_uploads_path %>
